<% layout('layouts/boilerplate') -%>
<h1>This is EDIT PRODUCT PAGE</h1>

<div>
    <% if (errorMsg) { %>
        <h1><%= errorMsg %></h1>
    <% } %>
    <% if (successMsg) { %>
        <h1><%= successMsg %></h1>
    <% } %>
</div>

<form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data" name="editSingle">
    <div>
        <label>
            Title:
            <input type="text" name="title" placeholder="Title" value="<%= product.title %>" />
        </label>
    </div>
    <div>
        <label>
            Price:
            <input type="number" name="price" min="0" step="1000" value="<%= product.price %>" placeholder="Price in VND" />
        </label>
    </div>
    <div>
        <label>
            Description:
            <textarea name="description" hidden></textarea>
            <div id="editor"><%- product.description %></div>
        </label>
    </div>
    <div>Location: <%- product.location.ward.split('-')[1] %>, <%- product.location.district.split('-')[1] %>, <%- product.location.province.split('-')[1] %></div>
    <div>
        <label>
            Tỉnh/thành phố:
            <select name="province">
                <option data-uid="0" value="0">Chọn tỉnh / thành phố</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            Quận/huyện:
            <span id="districtLoading"></span>
            <select name="district">
                <option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            Xã/phường:
            <span id="wardLoading"></span>
            <select name="ward">
                <option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>
            </select>
        </label>
    </div>    
    <div>
        <% if (product.images && product.images.length) { %>
            <% product.images.forEach(function(image) { %>
                <div>
                    <img src="<%= image.secure_url %>" alt="c" width="100px" height="100px" class="current-images" />
                    <label>
                        Delete?
                        <input type="checkbox" class="deleted-images" name="deletedImages[]" value="<%= image.public_id %>" />
                    </label>
                </div>
            <% }); %>
        <% } %>
    </div>
    <div>
        <label>
            Hình ảnh (tối đa 4 hình ảnh):
            <input type="file" name="images" multiple accept="image/*" />
        </label>
    </div>
    
    <div>
        <button type="submit">Edit</button>
    </div>
</form>
    
<script>
    const description = document.querySelector('textarea[name="description"]');
    let editor;
    ClassicEditor
    .create(document.querySelector( '#editor' ), {
        removePlugins: [ 'CKFinder', 'CKFinderUploadAdapter', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed' ],   
    })
    .then(newEditor => {
        editor = newEditor;
        editor.model.document.on('change:data', (evt, data) => {
            description.innerHTML = editor.getData();
        });
    })
    .catch( error => {
        console.log( error );
    });
</script>

<script>
    const editForm = document.querySelector('form[name="editSingle"]');

    editForm.addEventListener('submit', e => {
        const deletedImagesLength = document.querySelectorAll('.deleted-images:checked').length;
        const newImagesLength = document.querySelector('input[type="file"]').files.length;
        const currentImagesLength = document.querySelectorAll('.current-images').length;

        if (currentImagesLength - deletedImagesLength + newImagesLength > 4) {
            e.preventDefault();
            alert('One product accepts total number of 4 images!');
            return;
        }
    })
</script>

<script>
    var product =  <%- JSON.stringify(product) %>;
</script>

<script>
    const provinceSelect = document.querySelector('select[name="province"]');
    const districtSelect = document.querySelector('select[name="district"]');
    const wardSelect = document.querySelector('select[name="ward"]');
    const districtLoading = document.querySelector('#districtLoading');
    const wardLoading = document.querySelector('#wardLoading');

    $.ajax({
        method: 'GET',
        url: 'https://ndkhieu.xyz/provinces_api/v1/get_province',
        success: function(data) {
            if (data.data.length) {
                for (const province of data.data) {
                    let provinceOption = document.createElement('option');

                    if (product.location.province.split('-')[0] === province.province_id) {
                        provinceOption.value = `${province.province_id}-${province.province_name}`;
                        provinceOption.textContent = province.province_name;
                        provinceOption.selected = true;
                    } else {
                        provinceOption.value = `${province.province_id}-${province.province_name}`;
                        provinceOption.textContent = province.province_name;
                    }

                    provinceSelect.appendChild(provinceOption);
                }
            }
        }
    })

    $.ajax({
        method: 'GET',
        url: `https://ndkhieu.xyz/provinces_api/v1/get_district?province_id=<%- product.location.province.split('-')[0] %>`,
        success: function(data) {
            if (data.data.length) {
                for (const district of data.data) {
                    let districtOption = document.createElement('option');
                    
                    if (product.location.district.split('-')[0] === district.district_id) {
                        districtOption.value = `${district.district_id}-${district.district_name}`;
                        districtOption.textContent = district.district_name;
                        districtOption.selected = true;
                    } else {
                        districtOption.value = `${district.district_id}-${district.district_name}`;
                        districtOption.textContent = district.district_name;
                    }

                    districtSelect.appendChild(districtOption);
                }
            }
        }
    })

    $.ajax({
        method: 'GET',
        url: `https://ndkhieu.xyz/provinces_api/v1/get_ward?district_id=<%- product.location.district.split('-')[0] %>`,
        success: function(data) {
            wardLoading.innerHTML = '';
            if (data.data.length) {
                for (const ward of data.data) {
                    let wardOption = document.createElement('option');
                    
                    if (product.location.ward.split('-')[0] === ward.ward_id) {
                        wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                        wardOption.textContent = ward.ward_name;
                        wardOption.selected = true;
                    } else {
                        wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                        wardOption.textContent = ward.ward_name;
                    }

                    wardSelect.appendChild(wardOption);
                }
            }
        }
    })

    provinceSelect.addEventListener('change', function(e) {
        console.log(Number(e.target.value.split('-')[0]));
        if (Number(e.target.value.split('-')[0])) {
            districtSelect.innerHTML = `<option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>`;
            districtLoading.innerHTML = 'Loading districts';
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_district?province_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    districtLoading.innerHTML = '';
                    if (data.data.length) {
                        for (const district of data.data) {
                            let districtOption = document.createElement('option');
                            districtOption.value = `${district.district_id}-${district.district_name}`;
                            districtOption.textContent = district.district_name;

                            districtSelect.appendChild(districtOption);
                        }
                    }
                }
            })
        }
    })

    districtSelect.addEventListener('change', function(e) {
        if (Number(e.target.value.split('-')[0])) {
            wardSelect.innerHTML = `<option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>`;
            wardLoading.innerHTML = 'Loading wards';
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_ward?district_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    wardLoading.innerHTML = '';
                    if (data.data.length) {
                        for (const ward of data.data) {
                            let wardOption = document.createElement('option');
                            wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                            wardOption.textContent = ward.ward_name;

                            wardSelect.appendChild(wardOption);
                        }
                    }
                }
            })
        }
    })
</script>