<% layout('layouts/boilerplate') -%>

<div class="container mx-auto md:px-20 px-10 mt-32">
    <div class="shadow p-5 rounded-md bg-white mb-4 mt-1">
        <div class="mb-4">
            <h2 class="text-xl font-semibold inline"><i class="fad fa-pen text-indigo-600 font-light mr-2"></i><span class="underline-shadow">Chỉnh sửa sản phẩm</span></h2>
        </div>
        <% if (errorMsg) { %>
        <div class="p-3 flex justify-start bg-red-100 rounded items-center border-l-2 border-red-500">
            <i class="far fa-exclamation-circle mr-2 text-red-600 text-3xl"></i>
            <span class="text-red-600"><%= errorMsg %></span>
        </div>
        <% } %>
        <div>
            <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data" name="editSingle">
                <div>
                    <label for="title" class="text-md text-indigo-500">Tên sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <input type="text" name="title" id="title" placeholder="Tên sản phẩm" value="<%= product.title %>" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" />
                </div>
                <div>
                    <label for="price" class="text-md text-indigo-500">Giá sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <input type="number" name="price" id="price" min="0" step="1000" value="<%= product.price %>" placeholder="Giá (VND)" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" />
                </div>
                <div>
                    <label for="editor" class="text-md text-indigo-500">Mô tả sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <textarea name="description" hidden></textarea>
                    <div id="editor"><%- product.description %></div>
                </div>
                <div>
                    <label class="text-md text-indigo-500">Địa điểm</label>
                </div>
                <div class="pb-5 pt-2 text-gray-500"><i class="far fa-map-marker-alt mr-2"></i> <%- product.location.ward.split('-')[1] %>, <%- product.location.district.split('-')[1] %>, <%- product.location.province.split('-')[1] %></div>
                <div>
                    <label for="province" class="text-md text-indigo-500">Tỉnh / thành phố</label>
                </div>
                <div class="pb-5 pt-2">
                    <select id="province" name="province" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500">
                        <option data-uid="0" value="0">Chọn tỉnh / thành phố</option>
                    </select>
                </div>
                <div>
                    <label for="district" class="text-md text-indigo-500">Quận / huyện / thị xã</label>
                </div>
                <div class="pb-5 pt-2">
                    <select id="district" name="district" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500">
                        <option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>
                    </select>
                </div>
                <div>
                    <label for="ward" class="text-md text-indigo-500">Xã / phường / thị trấn</label>
                </div>
                <div class="pb-5 pt-2">
                    <select id="ward" name="ward" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500">
                        <option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>
                    </select>
                </div>    
                <div>
                    <label class="text-md text-indigo-500">Đã tải lên <%= product.images.length %> hình ảnh</label>
                </div>
                <div class="pb-5 pt-2 flex justify-start flex-wrap">
                    <% if (product.images && product.images.length) { %>
                        <% product.images.forEach(function(image, index) { %>
                            <div class="img-wrap-<%= index %> border border-indigo-400 px-3 py-4 mr-2 rounded flex flex-col items-center justify-center">
                                <img src="<%= image.secure_url %>" alt="c" width="100px" height="100px" class="current-images" />
                                <label class="pt-2 flex justify-start items-center">
                                    <span class="mr-2 text-gray-500">Xóa hình này?</span>
                                    <input type="checkbox" class="deleted-images img-checkbox-<%= index %>" name="deletedImages[]" value="<%= image.public_id %>" />
                                </label>
                            </div>
                            <script>
                                document.querySelector(`.img-checkbox-<%= index %>`).addEventListener('change', e => {
                                    if (e.target.checked) {
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.remove('border-indigo-400');
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.add('border-red-400');
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.add('bg-red-50');
                                    } else {
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.add('border-indigo-400');
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.remove('border-red-400');
                                        document.querySelector(`.img-wrap-<%= index %>`).classList.remove('bg-red-50');
                                    }
                                })
                            </script>
                        <% }); %>
                    <% } else { %>
                        <div class="text-red-500">Bạn chưa tải lên ảnh nào. Bạn có thể tải lên tối đa 4 hình ảnh cho sản phẩm, giúp người mua dễ lựa chọn hơn</div>
                    <% } %>
                </div>
                <div class="pb-4 pt-5">
                    <label class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500 inline-block cursor-pointer">
                        <i class="fad fa-file-upload mr-2 text-blue-500 text-lg"></i>
                        Tải hình ảnh lên (tối đa 4 hình ảnh)
                        <input type="file" name="images" multiple hidden accept="image/*" />
                    </label>
                    <div class="pt-2">
                        <label class="text-md text-indigo-500 new-img-upload-count">Đã chọn 0 hình ảnh</label>
                    </div>
                    <div class="pt-2 imgs-preview flex justify-start items-center">
                        
                    </div>
                    <script>
                        const newImgCount = document.querySelector('.new-img-upload-count');
                        const imgUpload = document.querySelector('input[name="images"]');
                        const imgsPreview = document.querySelector('.imgs-preview');

                        imgUpload.addEventListener('change', evt => {
                            const files = imgUpload.files;
                            const filesLen = files.length || 0;

                            newImgCount.textContent = `Đã chọn ${filesLen} hình ảnh`;

                            if (files && files.length) {
                                for (const imgItem of files) {
                                    let imgTag = document.createElement('img');
                                    imgTag.src = URL.createObjectURL(imgItem);
                                    imgTag.alt = 'image preview';
                                    imgTag.width = '100';
                                    imgTag.height = '100';
                                    imgTag.classList.add('mr-2');
                                    imgsPreview.appendChild(imgTag);
                                }
                            }
                        })
                    </script>
                </div>
                <div class="py-5">
                    <button type="submit" class="mt-2 outline-none px-3 py-2 border bg-pink-600 transition-all duration-200 hover:bg-pink-500 shadow rounded w-full text-lg text-white ">Cập nhật chỉnh sửa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const description = document.querySelector('textarea[name="description"]');
    let editor;
    ClassicEditor
    .create(document.querySelector( '#editor' ), {
        removePlugins: [ 'CKFinder', 'CKFinderUploadAdapter', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed' ],   
    })
    .then(newEditor => {
        editor = newEditor;
        editor.model.document.on('change:data', (evt, data) => {
            description.innerHTML = editor.getData();
            let ckContent = document.querySelector('.ck-content');
            ckContent.classList.add('ckContent')
        });
    })
    .catch( error => {
    });
</script>

<script>
    const editForm = document.querySelector('form[name="editSingle"]');

    editForm.addEventListener('submit', e => {
        const deletedImagesLength = document.querySelectorAll('.deleted-images:checked').length;
        const newImagesLength = document.querySelector('input[type="file"]').files.length;
        const currentImagesLength = document.querySelectorAll('.current-images').length;

        if (currentImagesLength - deletedImagesLength + newImagesLength > 4) {
            e.preventDefault();
            alert('Một sản phẩm có tối đa 4 hình ảnh! Vui lòng kiểm tra lại tổng số hình đã tải lên và sẽ tải lên!');
            return;
        }
    })
</script>

<script>
    var product =  <%- JSON.stringify(product) %>;
</script>

<script>
    const provinceSelect = document.querySelector('select[name="province"]');
    const districtSelect = document.querySelector('select[name="district"]');
    const wardSelect = document.querySelector('select[name="ward"]');

    $.ajax({
        method: 'GET',
        url: 'https://ndkhieu.xyz/provinces_api/v1/get_province',
        success: function(data) {
            if (data.data.length) {
                for (const province of data.data) {
                    let provinceOption = document.createElement('option');

                    if (product.location.province.split('-')[0] === province.province_id) {
                        provinceOption.value = `${province.province_id}-${province.province_name}`;
                        provinceOption.textContent = province.province_name;
                        provinceOption.selected = true;
                    } else {
                        provinceOption.value = `${province.province_id}-${province.province_name}`;
                        provinceOption.textContent = province.province_name;
                    }

                    provinceSelect.appendChild(provinceOption);
                }
            }
        }
    })

    $.ajax({
        method: 'GET',
        url: `https://ndkhieu.xyz/provinces_api/v1/get_district?province_id=<%- product.location.province.split('-')[0] %>`,
        success: function(data) {
            if (data.data.length) {
                for (const district of data.data) {
                    let districtOption = document.createElement('option');
                    
                    if (product.location.district.split('-')[0] === district.district_id) {
                        districtOption.value = `${district.district_id}-${district.district_name}`;
                        districtOption.textContent = district.district_name;
                        districtOption.selected = true;
                    } else {
                        districtOption.value = `${district.district_id}-${district.district_name}`;
                        districtOption.textContent = district.district_name;
                    }

                    districtSelect.appendChild(districtOption);
                }
            }
        }
    })

    $.ajax({
        method: 'GET',
        url: `https://ndkhieu.xyz/provinces_api/v1/get_ward?district_id=<%- product.location.district.split('-')[0] %>`,
        success: function(data) {
            if (data.data.length) {
                for (const ward of data.data) {
                    let wardOption = document.createElement('option');
                    
                    if (product.location.ward.split('-')[0] === ward.ward_id) {
                        wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                        wardOption.textContent = ward.ward_name;
                        wardOption.selected = true;
                    } else {
                        wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                        wardOption.textContent = ward.ward_name;
                    }

                    wardSelect.appendChild(wardOption);
                }
            }
        }
    })

    provinceSelect.addEventListener('change', function(e) {
        if (Number(e.target.value.split('-')[0])) {
            districtSelect.innerHTML = `<option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>`;
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_district?province_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    if (data.data.length) {
                        for (const district of data.data) {
                            let districtOption = document.createElement('option');
                            districtOption.value = `${district.district_id}-${district.district_name}`;
                            districtOption.textContent = district.district_name;

                            districtSelect.appendChild(districtOption);
                        }
                    }
                }
            })
        }
    })

    districtSelect.addEventListener('change', function(e) {
        if (Number(e.target.value.split('-')[0])) {
            wardSelect.innerHTML = `<option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>`;
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_ward?district_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    if (data.data.length) {
                        for (const ward of data.data) {
                            let wardOption = document.createElement('option');
                            wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                            wardOption.textContent = ward.ward_name;

                            wardSelect.appendChild(wardOption);
                        }
                    }
                }
            })
        }
    })
</script>