<% layout('layouts/boilerplate') -%>

<div class="body-content container mx-auto md:px-20 px-10 mt-44 lg:mt-32">
    <div class="swiper home--slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide relative" style="border-radius: 5px;overflow:hidden;">
                <div class="absolute top-1/2 left-14 transform -translate-y-1/2">
                    <h2 class="text-white text-3xl py-4">Sản phẩm nào dành cho bạn?</h2>
                    <a href="/products" class="inline-block text-white bg-blue-500 rounded py-3 px-5 cursor-pointer transition-all duration-300 shadow hover:bg-blue-600">Khám phá danh sách sản phẩm</a>
                </div>
                <img src="/images/s1.jpg" alt="slide image from unsplash " style="width:100%;height:100%;object-fit:cover;" />
            </div>
            <div class="swiper-slide" style="border-radius: 5px;overflow:hidden;">
                <img src="/images/s2.jpg" alt="slide image from unsplash " style="width:100%;height:100%;object-fit:cover;" />
            </div>
            <div class="swiper-slide" style="border-radius: 5px;overflow:hidden;">
                <img src="/images/s3.jpg" alt="slide image from unsplash " style="width:100%;height:100%;object-fit:cover;" />
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="exploreCategories shadow py-3 px-5 rounded-md bg-white my-4">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Khám phá và danh mục</h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3">
            <a href="#" class="px-3 mb-10 inline-block hover:text-blue-800 transition-all duration-300 transform hover:-translate-y-1 ">
                <div class="flex flex-col items-center justify-center">
                    <img class="w-32 h-32 rounded-3xl object-cover" src="https://filedn.com/ltOdFv1aqz1YIFhf4gTY8D7/ingus-info/BLOGS/Photography-stocks3/stock-photography-slider.jpg" alt="category" />
                    <h4 class="text-center">Bất động sản</h4>
                </div>
            </a>                 
            
        </div>
    </div>
    <div class="productsListWrapper shadow py-3 px-5 rounded-md bg-white mb-4">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Sản phẩm mới nhất</h2>
        </div>
        <div class="productsList">
            <% if (productsPaginate.docs && productsPaginate.docs.length ) { %>
                <div class="grid grid-cols-1 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3">
                    <% productsPaginate.docs.forEach(function(product) { %>
                        <a href="/products/<%= product.id %>" class="inline-block">
                            <div class="flex flex-col items-center justify-center px-2 py-3 border-gray-200 border transform hover:shadow-md transition-all duration-300 rounded-sm">
                                <img class="w-full h-36 rounded-sm object-cover" src="<%= product.images.length ? product.images[0].secure_url : '/images/default-no-image.jpg' %>" alt="category" />
                                <h4 class="text-left mt-1 mb-1 leading-5"><%= product.title %></h4>
                                <div class="w-full text-left text-green-800 font-semibold"><%= product.price %> VND</div>
                                <div class="w-full">
                                    <i class="far fa-clock text-gray-500 font-light text-xs mr-1"></i>
                                    <span class="text-gray-500 text-xs mr-1"><%= product.createdAt.getDate() %> thg <%= product.createdAt.getMonth() + 1 %>, <%= product.createdAt.getFullYear() %> lúc <%= product.createdAt.getHours() %>:<%= product.createdAt.getMinutes() %></span>
                                </div>
                            </div>
                        </a>    
                    <% }) %>   
                </div>
            <% } %>
        </div>
        <div class="flex justify-center mt-5">
            <a href="/products?page=1" class="py-2 px-6 inline-block bg-green-500 text-white rounded transition-all duration-300 hover:bg-green-600 shadow hover:shadow-sm">Xem nhiều hơn</a>
        </div>
    </div>
    <div class="quickIntro shadow py-3 px-5 rounded-md bg-white mb-4">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Marketplace - Trung gian mua sắm của bạn</h2>
        </div>
        <p class="text-gray-600">Marketplace được tạo ra với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.</p>
    </div>
</div>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,

        pagination: {
            el: '.swiper-pagination',
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>