<% layout('layouts/boilerplate') -%>

<div class="body-content container mx-auto md:px-20 px-10 mt-32">
    <div class="home-slider">
        <div class="sliderAx h-auto">
            <div id="slider-1" class="container mx-auto">
                <div class="bg-cover bg-center rounded h-full text-white py-24 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1544427920-c49ccfb85579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1422&q=80)">
                    <div class="md:w-1/2">
                        <p class="font-bold text-sm uppercase">Services</p>
                        <p class="text-3xl font-bold">Hello world</p>
                        <p class="text-2xl mb-10 leading-none">Carousel with TailwindCSS and jQuery</p>
                        <a href="#" class=" py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
                    </div>  
                </div> 
            </div>
            <div id="slider-2" class="container mx-auto">
                <div class="bg-cover bg-top rounded h-full text-white py-24 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1544144433-d50aff500b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
                    <p class="font-bold text-sm uppercase">Services</p>
                    <p class="text-3xl font-bold">Hello world</p>
                    <p class="text-2xl mb-10 leading-none">Carousel with TailwindCSS and jQuery</p>
                    <a href="#" class="py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
                </div> 
            </div>
        </div>
        <div class="flex justify-between w-12 mx-auto pb-2 mt-2">
            <button id="sButton1" onclick="sliderButton1()" class="bg-purple-400 rounded-full w-4 pb-2 " ></button>
            <button id="sButton2" onclick="sliderButton2() " class="bg-purple-400 rounded-full w-4 p-2"></button>
        </div>
    </div>
    <div class="exploreCategories shadow p-3 rounded-md bg-white mb-4 mt-1">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Khám phá và danh mục</h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3">
            <a href="#" class="px-3 mb-10 inline-block hover:text-blue-800 transition-all duration-300 transform hover:-translate-y-1 ">
                <div class="flex flex-col items-center justify-center">
                    <img class="w-32 h-32 rounded-3xl object-cover" src="https://filedn.com/ltOdFv1aqz1YIFhf4gTY8D7/ingus-info/BLOGS/Photography-stocks3/stock-photography-slider.jpg" alt="category" />
                    <h4 class="text-center">Bất động sản</h4>
                </div>
            </a>                 
            
        </div>
    </div>
    <div class="productsListWrapper shadow p-3 rounded-md bg-white mb-4">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Tin mới nhất</h2>
        </div>
        <div class="productsList">
            <% if (productsPaginate.docs && productsPaginate.docs.length ) { %>
                <div class="grid grid-cols-1 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3">
                    <% productsPaginate.docs.forEach(function(product) { %>
                        <a href="/products/<%= product.id %>" class="inline-block">
                            <div class="flex flex-col items-center justify-center px-2 py-3 border-gray-200 border transform hover:shadow-md transition-all duration-300 rounded-sm">
                                <img class="w-full h-36 rounded-sm object-cover" src="https://filedn.com/ltOdFv1aqz1YIFhf4gTY8D7/ingus-info/BLOGS/Photography-stocks3/stock-photography-slider.jpg" alt="category" />
                                <h4 class="text-left mt-1 mb-1 leading-5"><%= product.title %></h4>
                                <div class="w-full text-left text-green-800 font-semibold"><%= product.price %> VND</div>
                                <div class="w-full">
                                    <i class="far fa-clock text-gray-500 font-light text-xs mr-1"></i>
                                    <span class="text-gray-500 font-light text-xs mr-1"><%= product.createdAt.getDate() %>/<%= product.createdAt.getMonth() + 1 %>/<%= product.createdAt.getFullYear() %>, <%= product.createdAt.getHours() %>:<%= product.createdAt.getMinutes() %>:<%= product.createdAt.getSeconds() %></span>
                                </div>
                            </div>
                        </a>    
                    <% }) %>   
                </div>
            <% } %>
        </div>
        <div class="flex justify-center mt-5">
            <a href="/products" class="py-2 px-4 inline-block bg-green-100 text-green-600 rounded transition-all duration-300 hover:bg-green-200 shadow hover:shadow-sm">Xem nhiều hơn</a>
        </div>
    </div>
    <div class="quickIntro shadow p-3 rounded-md bg-white mb-4">
        <div class="mb-4">
            <h2 class="text-xl font-semibold underline-shadow inline">Marketplace - Trung gian mua sắm của bạn</h2>
        </div>
        <p class="text-gray-600">Marketplace được tạo ra với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.</p>
    </div>
</div>
<script src="/javascripts/home-slider.js"></script>